@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
  }
  #__next {
    height: 100%;
  }
}

@layer components {
  nav > div:first-child{
    justify-content: space-around;
  }

  .container {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .animation {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
  }

  .animation > div > div {
    height: 3rem;
    margin-bottom: 3rem;
    display: inline-block;
  }

  .animation div:first-child {
    animation: text-animation 10s infinite;
  }

  @keyframes text-animation {
    0% {
      margin-top: 0;
    }

    15% {
      margin-top: -6rem;
    }

    30% {
      margin-top: -12rem;
    }
    50% {
      margin-top: -18rem;
    }
    65% {
      margin-top: -12rem;
    }

    80% {
      margin-top: -6rem;
    }

    100% {
      margin-top: 0;
    }
  }

  .heartbeatsAnimation {
    animation: heartbeats 2s ease-in-out infinite;
  }

  @keyframes
    heartbeats {
      0% {
        transform: translateY(5px);
        
      }
      15% {
        transform: translateY(-5px);
       
      }
      30% {
        transform: translateY(5px);
        
      }
      45% {
        transform: translateY(-5px);
        
      }
      60% {
        transform: translateY(5px);
        
      }

      75% {
        transform: translateY(-5px);
        
      }
      500% {
        transform: translateY(5px);
    
      }
    }
}

@layer base {
  #portrait{
    box-shadow:
    -50px -50px 0 -50px rgb(148 163 184),
    50px 50px 0 -50px rgb(148 163 184);
  }


  };

